@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OneLink Core Application</h1>
</div>
<figure>
    <img src="~/images/onelink-logo.jpeg" class="img-fluid mx-auto d-block" alt="OneLink-Logo">
</figure>